<nav class="nav-header">
  <div class="logo-section">
    <img src="../../assets/logo/edion_logo.svg" alt="EDION logo" class="logo" />
    <span class="title">売上</span>
  </div>

  <div class="input-section">
    <label class="label">販売担</label>
    <div class="input-container">
      <div class="input-wrapper">
        <input type="text" class="input-field" />
        <div class="search-icon">
          <img src="../../../../assets/icons/svg/QR.svg" alt="QR" />
        </div>
      </div>
      <div class="divider">|</div>
      <div class="binding-section"></div>
    </div>
  </div>

  <div class="input-section">
    <label class="label">レジ担</label>
    <div class="input-container">
      <div class="input-wrapper">
        <input type="text" class="input-field" />
        <div class="search-icon"></div>
      </div>
      <div class="divider">|</div>
      <div class="binding-section"></div>
    </div>
  </div>

  <button class="menu-button">
    <img src="../../../../assets/icons/svg/ic_round-menu.svg" alt="menu" h-8 />
  </button>
</nav>
