<div class="top-bar">
  <div
    class="bg-primary-default text-white pl-3 pr-3 pt-1 pb-1 flex flex-wrap justify-between items-center"
  >
    <div class="flex items-center w-full md:w-1/4">
      <span>売上登録</span>
    </div>
    <div class="flex flex-wrap items-center justify-center w-full md:w-2/4">
      <span class="mr-2">WTP12001</span>
      <span class="mr-2">1.5.2.24</span>
      <span class="mr-2">0001</span>
      <span class="mr-2">テスト担当者</span>
      <span class="mr-2">10596</span>
      <span class="mr-2">JR尼崎駅店</span>
      <span class="mr-2">POS001</span>
    </div>
    <div class="flex items-center justify-end w-full md:w-1/4">
      <span>{{ currentDate | date : "yyyy/MM/dd" }} {{ currentTime }}</span>
    </div>
  </div>
</div>
