<nav class="nav-tabs">
  <button class="cursor-pointer menu-item flex rounded-[8px] py-3 px-3.5">
    <img
      src="../../assets/icons/svg/Home.svg"
      alt="Edion Logo"
      class="h6 mr-2"
    />
    <span>終了</span>
  </button>
  <button class="cursor-pointer menu-item flex rounded-[8px] py-3 px-3.5">
    <img
      src="../../assets/icons/svg/TicketStar.svg"
      alt="Edion Logo"
      class="h6 mr-2"
    />
    <span>共通Pt</span>
  </button>
  <button class="cursor-pointer menu-item flex rounded-[8px] py-3 px-3.5">
    <img
      src="../../assets/icons/svg/2_User.svg"
      alt="Edion Logo"
      class="h6 mr-2"
    />
    <span>顧客</span>
  </button>
  <button class="cursor-pointer menu-item flex rounded-[8px] py-3 px-3.5">
    <img
      src="../../assets/icons/svg/Work.svg"
      alt="Edion Logo"
      class="h6 mr-2"
    />
    <span>商談</span>
  </button>
  <button class="cursor-pointer menu-item flex rounded-[8px] py-3 px-3.5">
    <img
      src="../../assets/icons/svg/Ticket_Star_Purple.svg"
      alt="Edion Logo"
      class="h6 mr-2"
    />
    <span>共有クーポン</span>
  </button>
  <button class="cursor-pointer menu-item flex rounded-[8px] py-3 px-3.5">
    <img
      src="../../assets/icons/svg/Discount.svg"
      alt="Edion Logo"
      class="h6 mr-2"
    />
    <span>販売区分</span>
  </button>
  <button class="cursor-pointer menu-item flex rounded-[8px] py-3 px-3.5">
    <img
      src="../../assets/icons/svg/Bookmark.svg"
      alt="Edion Logo"
      class="h6 mr-2"
    />
    <span>見込み客</span>
  </button>
</nav>
